.Planet__sectionNav {
  border-bottom: var(--border-color);
  display: flex;
  justify-content: space-around;
}

@media (min-width: 760px) {
  .Planet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 2fr 1fr;
    grid-row-gap: 2rem;
    margin: 2.5rem auto;
    width: 90%;
    max-width: 53rem;
  }

  .Planet__sectionNav {
    border-bottom: none;
    flex-direction: column;
    gap: 0.8rem;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    margin-left: 2rem;
  }

  .Planet__image {
    grid-area: 1 / 1 / 2 / 3;
  }

  .Planet__content {
    grid-area: 2 / 1 / 3 / 2;
  }

  .Planet__stats {
    grid-area: 3 / 1 / 4 / 3;
  }
}

@media (min-width: 1400px) {
  .Planet {
    grid-template-rows: 1fr 1fr 0.5fr;
    margin: 5rem auto;
    width: 90%;
    max-width: 68rem;
  }

  .Planet__sectionNav {
    margin-left: 10rem;
  }

  .Planet__image {
    grid-area: 1 / 1 / 3 / 2;
  }

  .Planet__content {
    grid-area: 1 / 2 / 2 / 3;
  }
}
