@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --font-primary: "League Spartan", sans-serif;
  --font-secondary: "Antonio", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --border-color: 2px solid rgb(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #070724;
  background-image: url("./assets/background-stars.svg");
  color: #fff;
  font-family: var(--font-primary);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}
